:root {
  --pattern-size: 30px 30px;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #C8CCD7;
}


#ribbon {
  width: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
  border-right: 1px solid rgb(207, 207, 207);
  background-color: white;
}
#ribbon * {
  text-align: center;
  text-decoration: none;
  color: black;
  position: sticky;
  left: 0;
  top: 0;
}

#ribbon #header {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-right: auto;
  text-align: left;
}
#ribbon #bottom-nav {
  margin-top: auto;
}
#ribbon #bottom-nav ul {
  margin-bottom: 0;
}

#ribbon ul {
  list-style-type: none;
  padding-inline-start: 0;
  background-color: white;
  /* padding-bottom: 0.5rem; */
}
#ribbon li {
  border-top: 1px solid rgb(197, 197, 197);
  border-bottom: 1px solid rgb(197, 197, 197);
  margin-bottom: -1px; /* border overlap */
  padding: 0.5rem;
  
}

#header {
  margin-top: 1rem;
}



#calendar {
  /* width: calc(100vw - 20rem); TODO: adjust for minimized ribbon */
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;

}

.weekly .day {
  margin: 0.5rem;
  min-width: 18rem;
  flex-grow: 1;
  height: calc(100% - 1.5rem);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.weekly .day .day-header {
  font-size: 0.7rem;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  gap: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #F3F3F3;
  width: 102%;
  position: relative;
  left: -1%;
}
.weekly .day .day-header .day-name {
  font-size: 1rem;
  font-weight: bold;
}

.weekly .day .timeline {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(0deg, #C8CCD7, #C8CCD7 1px, transparent 0px, transparent);
  background-size: var(--pattern-size); /* TODO: set dynamically */
  position: relative;
}

.weekly .day .timeline .calendar-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 100%;
  background-color: rgba(255, 115, 115, 0.535);
  border: 1px solid #C8CCD7;
  /* left: 50%;
  transform: translateX(-50%); */
}
.weekly .day .timeline .calendar-item * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hr-100pc {
  width: 100%;
  height: 1px;
  background-color: #C8CCD7;
}
